/* client/src/components/OffersSection.module.css */
.wrapper {
  position: relative;
  background: #def3ff; /* light blue */
  height: 600px;       /* adjust as needed */
  overflow: hidden;
}
.canvas {
  width: 100%;
  height: 100%;
  display: block;
}
